[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
aws-sam-cli = "*"
pytest = "*"
requests = "*"

[packages]
boto3 = "*"
aws-xray-sdk = "*"
pymysql = "*"

[requires]
python_version = "3.6"
